*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-display: swap;
	font-family: Montserrat;
	--salmon: #E15140;
	background-image: linear-gradient(135deg, transparent, #231817);
	background-color: #130807;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	min-height: 100vh;
}
.dashboard{
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-areas: "header"
						 "content"
						 "footer";
	width: clamp(220px, 76vw, 1400px);
	border-radius: 12px;
	height: fit-content;
	animation: slide-up forwards 1.2s 0.1s, appear both 0.6s 0.1s;
	box-shadow: -6px -6px 2px #291e1c, 6px 6px 2px #000c;
	container-type: inline-size;
	overflow: hidden;
}
header{
	max-height: 120px;
	grid-area: header;
	background-color: var(--salmon);
	color: #fff;
	position: relative;
	font-size: clamp(14px, 2.5vw, 50px);
}
header, footer{
	display: flex;
	padding: 8px 0;
	justify-content: center;
	align-items: center;
}
.content{
	display: grid;
	grid-area: content;
	grid-template-columns: 19vw auto;
	grid-template-areas: "nav main";
	gap: 8px;
	padding: 6px;
}
.content, header, footer{
	width: max-width: 100%;
}
a{
	color: #AF1F0E;
	font-weight: 500;
	text-decoration: none;
}
nav{
	grid-area: nav;
}
main, nav, .dashboard{
	background-color: #FEF5F4;
}
main, nav, .dashboard, h2{
	transition: 0.3s;
}
footer{
	font-size: clamp(12px, 2.2vw, 32px);
	color: #fff;
	grid-area: footer;
	max-height: 100px;
	background-color: #000;
}
main{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(clamp(120px, 20vw, 280px), 1fr));
	grid-area: main;
	padding: 10px;
	gap: 70px 25px;
}
main img{
	background-color: var(--salmon);
	padding: 4px;
	width: clamp(120px, 20vw, 280px);
	height: clamp(90px, calc(20vw*0.75), 210px);
	transition: 0.6s;
	margin: 30px auto;
}
h2{
	font-size: clamp(14px, 1.9vw, 34px);
}
ul{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 75vh;
	gap: 3px;
	margin: 6px;
	list-style: none;
	font-size: clamp(13px, 1.7vw, 26px);
}
h2, ul{
	padding: 0.5vw;
}
main img:hover{
	box-shadow: 0 0 12px #E1514099;
}
@keyframes slide-up{
	from{
		transform: translateY(40px);
	}
	to{
		transform: translateY(0px);
	}
}
@keyframes appear{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes move-left{
	from{
		transform: translateX(40px);
	}
	to{
		transform: translateY(0);
	}
}
@keyframes move-right{
	from{
		transform: translateX(-40px);
	}
	to{
		transform: translateY(0);
	}
}
main img:nth-child(even){
	animation: move-left forwards 1s 1s, appear both 1s 1s;
	animation-range: auto;
}
main img:nth-child(odd){
	animation: move-right forwards 1s 1s, appear both 1s 1s;
	animation-range: auto;
}
@container(max-width: 335px){
	main img:nth-child(even), main img:nth-child(odd){
		animation: move-right forwards 1s 1s, appear both 1s 1s;
	} 
}
input[type="checkbox"]{
	display: none;
}
input[type="checkbox"]:checked ~ .dashboard, input[type="checkbox"]:checked ~ .dashboard main, input[type="checkbox"]:checked ~ .dashboard nav{
	background-color: #1E1514;
	color: #FFF;
}
input[type="checkbox"]:checked ~ .dashboard a{
	color: var(--salmon);
}
input[type="checkbox"]:checked ~ .dashboard header{
	background-color: #D14130;
}
label{
	background-color: transparent;
	user-select: none;
	padding: 6px;
	position: absolute;
	cursor: pointer;
	color: #fff;
	top: 5px;
	border-radius: 8px;
	right: 7px;
}
label:hover{
	background-color: #CF3F2E;
}
label:active{
	background-color: #fff;
	color: var(--salmon);
}
@media(max-width: 520px){
	.dashboard{
		width: clamp(160px, 86vw, 450px);
	}
	header{
		font-size: clamp(16px, 1.7vw, 30px);
	}
	h2{
		font-size: clamp(12px, 1.7vw, 22px);
	}
	ul{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 75vh;
		gap: 3px;
		list-style: none;
		margin: 3px;
		font-size: clamp(11px, 1.5vw, 18px);
	}
	main{
		padding: 0;
	}
	label{
		top: 0;
		right: 0;
		margin: 4px;
		padding: 3px;
	}
}
@media(max-width: 380px){
	span{
		display: none;
	}
	label{
		padding: 2px;
	}
	.dashboard{
		width: clamp(220px, 95vw, 1400px);
	}
	h2{
		font-size: clamp(11px, 1.6vw, 20px);
	}
	ul{
		font-size: clamp(10px, 1.4vw, 16px);
	}
}
